/*.container {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*align-items: center;*/
  /*align-content: flex-start;*/
  /*justify-content: space-around;*/
/*}*/

/*.search-input {*/
  /*order: 1;*/
  /*flex-grow: 4;*/
/*}*/

/*.search-btn {*/
  /*order: 2;*/
  /*flex-grow: 1;*/
/*}*/

.container-1{
  width: 100%;
  max-width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left: 50px;

}

.container-1 input#search{
  width: 100%;
  height: 30px;
  background: #8f1c1c;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-1 .icon{
  position: absolute;
  margin-left: 17px;
  margin-top: 5px;
  z-index: 1;
  color: #4f5b66;
  font-size: 16px;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}
