<!--<div class="container">-->
  <!--<md-input class="search-input" placeholder="Type a name" #searchBox>-->
  <!--</md-input>-->
  <!--<input type="search" placeholder="search" />-->
  <!--<button md-buttlon color="primary" class="search-btn" (click)="searchFired(searchBox.value)">SEARCH</button>-->
<!--</div>-->
<div class="box">
  <div class="container-1">
    <span class="icon"><i class="fa fa-search"></i></span>
    <input type="search" id="search" placeholder="Search..." #box (keyup.enter)="searchFired(box.value)"/>
  </div>
</div>
