<header id="header">
  <div class="container">
    <a class="logo" href="index.html"><img src="/images/nombre_logo.png" style="height: 80px;" alt="logo"> </a><span style="">What are you up to today? </span>
    <div class="social-buttons pull-right">
      <a (click)="login()" class="btn btn-fb"><i class="fa fa-facebook "></i> Share your Page events </a>
    </div>
  </div>
  <!--<div class="video-container">-->
    <!--<video #video class="video" muted loop autoplay>-->
      <!--<source src="media/evil_hamster.mp4" type="video/mp4">-->
      <!--&lt;!&ndash;<source src="media/video.ogv" type="video/ogg">&ndash;&gt;-->
      <!--&lt;!&ndash;<source src="media/video.webm" type="video/webm">&ndash;&gt;-->
    <!--</video>-->
  <!--</div>-->
</header>
<section style="background-image: url('images/background.jpg');">
  <div class="container">

      <div class="col-md-8">
        <div class="left-content">
          <h1>This is not another Social Network... </h1>
          <strong>We love the word "Tool" but we haven´t figured out yet a good slogan</strong><br/>
          <p>Anyway, think Pimba as a Social Network Tool or Social Tool... Enjoy it! </p>
          <app-download-buttons></app-download-buttons>
        </div>
      </div>

      <div class="col-md-4">
        <img src="/images/phone.png" alt="application" height="500px">
      </div>

  </div>



</section>
