.social-buttons{
  margin-top: 25px;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video-container{
  position: absolute;
  top:0px;
  display: block;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

.left-content {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  margin-top: 40px;
}
