<!-- apple store button -->
<a class="btn btn-md big-btn btn-success" href="#">
  <i class="fa fa-apple fa-3x" style="float: left;"></i>
  <div class="btn-text">
    <small>Available on the</small><br/>
    <strong>App Store</strong>
  </div>
</a>

<!-- android button -->
<a class="btn btn-md big-btn btn-success" href="#">
  <i class="fa fa-android fa-3x" style="float: left;"></i>
  <div class="btn-text">
    <small>Available on</small><br/>
    <strong>Google Play</strong>
  </div>
</a>
