.big-btn{
  width: 215px;
  margin:10px;
  background-color: #B71C1C;
  padding: 5px 10px;
  border-color: #B71C1C;
}

.big-btn:hover{
  background-color: #D51D1D;
}

.big-btn strong{
  font-size: 25px;
  text-shadow: 1px 2px 0px #34659B;
  color: #fff;
  line-height: 24px;
}

.big-btn small{font-size: 75%;}
