<md-card>
  <img md-card-image class="center-cropped" [alt]="account.name" src="{{account.cover != null ? account.cover.source : 'images/no-image-box.png'}}">
  <md-card-title>{{account.name}}</md-card-title>
  <md-card-actions align="start">
    <md-checkbox (change)= "checkboxChange($event)" [checked]="account.share">Share Events</md-checkbox>
  </md-card-actions>
</md-card>
