md-card {
  width: 300px;
  box-sizing: border-box;
  margin: 16px;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  max-height: 150px;
}
