<!--<md-sidenav-layout fullscreen [style.background-image]="bodyBackgroundImage()">-->
<md-sidenav-layout fullscreen >
  <md-sidenav #sidenav mode="push">
    <md-nav-list >
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line>{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary" *ngIf="authService.isLoggedIn">
    <button md-icon-button (click)="sidenav.toggle()">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </button>
    Pimba
    <app-search-fb-page (searchEvent)="facebookSearch($event)"></app-search-fb-page>
    <span class="fill-remaining-space"></span>
    <button md-button (click)="logout()">LOG OUT</button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>


