<md-card>
  <img md-card-image class="center-cropped" [alt]="title" src="{{imgUrl != null ? imgUrl : 'images/no-image-box.png'}}">
  <md-card-title>{{title}}</md-card-title>
  <md-card-content class="secondary">
    {{description}}
  </md-card-content>
  <md-card-actions align="start">
    <md-checkbox (change)= "checkboxChange($event)">{{actionText}}</md-checkbox>
  </md-card-actions>
</md-card>
