<div class="container">
  <span class="loading-indicator" [hidden]="!isLoading">
    <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
  </span>
  <div class="row" *ngIf="type == 'page'" [hidden]="isLoading">
    <div class="card-container" *ngIf="searchResults != null && searchResults.length > 0">
      <app-account-card *ngFor="let account of searchResults"
                        [account]="account"
                        (shareEventClick)="sharePage(account, $event)"></app-account-card>

    </div>
  </div>
</div>
