<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-responsive">Facebook Accounts
        <small class="text-muted">Connect to Share your Events</small>
      </h1>
    </div>
  </div>
  <hr>
  <p>
    Do you want your Facebook Page Events to be automatically published in our App reaching thousands of people for free?
    <br/>
    Just <strong>connect you page</strong> and keep creating you events in facebook as you do it now. We will take care of the rest.
  </p>
  <span class="loading-indicator" [hidden]="!isLoading">
    <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
  </span>
  <div class="row" [hidden]="isLoading">
    <div class="card-container">
      <div class="card-container" *ngIf="userAccounts != null && userAccounts.length > 0">
        <app-account-card *ngFor="let account of userAccounts"
                         [account]="account"
                         (shareEventClick)="sharePage(account, $event)"></app-account-card>

      </div>
      <div class="card-container" *ngIf="fbAccounts != null && fbAccounts.length > 0">
        <app-account-card *ngFor="let account of fbAccounts"
                          [account]="account"
                          (shareEventClick)="sharePage(account, $event)"></app-account-card>

      </div>
    </div>
  </div>
</div>
