.card-container {
  display: flex;
  flex-flow: row wrap;
}

.loading-indicator {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 100px auto;
}



@media (max-width: 768px) {
  app-card-item-a {
    margin: 10px auto;
  }
}
